.header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;
  left: -80px;
  bottom: 40px;

  .logo-container {
    height: 100%;
    width: 20%;
    align-items: center;

    .logo{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
